<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Test_All">
		<classes>
			<!--
			<class name="com.localhost.testcases.LoginPageTest" />
			<class name="com.localhost.testcases.AllInOne" />
			<class name="com.localhost.testcases.Test" />
			-->
			<class name="com.localhost.testcases.AllInOne" />
			
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
